<app-navbar [navigation]="true"></app-navbar>

<div class="page">
  <div class="page-content">

    <!-- Header -->
    <div class="header">

      <div class="content" style="font-size: 1.5rem">
        <b>Școala Doctorală de Informatică - Aplicația de management a activității doctorale</b><br>
      </div>

    </div>

    <!-- Card Section -->
    <div class="section">
      <div class="title">Beneficii aduse studenţilor doctoranzi</div>

      <div class="columns cards" *ngIf="userType === 3">

        <div class="card column">
          <div class="card-icon-container">
            <i class="fa-solid fa-file card-icon icon-color"></i>
          </div>

          <div class="card-content">
            <div class="content has-text-centered">
              <b>Rapoarte cercetare doctoranzi</b>
            </div>
          </div>
        </div>


        <div class="card column">
          <div class="card-icon-container">
            <i class="fa-solid fa-people-group card-icon icon-color"></i>
          </div>

          <div class="card-content">
            <div class="content has-text-centered">
              <b>Email secretariat</b>
            </div>
          </div>
        </div>

        <div class="card column">
          <div class="card-icon-container">
            <i class="fa-solid fa-earth-americas card-icon icon-color"></i>
          </div>

          <div class="card-content">
            <div class="content has-text-centered">
              <b>Chat</b>
            </div>
          </div>
        </div>

<!--        <div class="card column">-->
<!--          <div class="card-icon-container">-->
<!--            <i class="fa-solid fa-shield-halved card-icon icon-color"></i>-->
<!--          </div>-->

<!--          <div class="card-content">-->
<!--            <div class="content has-text-centered">-->
<!--              <b>Siguranţă</b>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>

  </div>
</div>
